/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/

/* .menu {
  color: blue;
} */

body {
  font-family: 'Arial', sans-serif;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.tagline {
  font-style: italic;
  font-family: cursive;
  color: #a16b4c;
  text-align: center;
  margin-top: 10px;
}

.headline {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 60px;
}

.menu-item {
  display: flex;
  align-items: stretch;
  margin-bottom: 20px;
}

.menu-item img {
  width: 100px;
  height: 100%;
  max-height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.menu-details {
  flex-grow: 1;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 2px;
}

.menu-description {
  font-size: 0.9rem;
  color: #666;
  margin: 5px 0;
  margin-bottom: 2px;
}

.menu-price-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-price {
  font-weight: bold;
}

.menu-btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 20px;
  background-color: #bdd1da;
  color: #000;
  border: none;
}

.btn:hover {
  background-color: #94a3b8;
}